
<h1 class="title">AGENDA (14:10〜16:50)</h1>
<ol>
<li>ハンズオン環境の説明</li>
<li>今回構築する開発アプリケーションの概要説明</li>
<li>Salesforce 開発環境の取得と初期設定</li>
<li>Salesforce 開発環境へパッケージのインストールと設定</li>
<li>Salesforce オブジェクトの作成の流れ</li>
<li>Heroku アカウントおよび、必要なツールの導入</li>
<li>Heroku Postgres および Heroku Connect の導入と設定</li>
<li>Heroku 用アプリケーションソースコードの入手とデプロイ</li>
<li>データ連携など、アプリケーションを実際に実行してみる</li>
<li>質疑応答</li>

秋のスキルアップキャンペーン
<a target="_blank" href="https://developer.salesforce.com/ja/skillup2016?=7010M000000mZWv">https://developer.salesforce.com/ja/skillup2016?=7010M000000mZWv</a>

Salesforce developers (developer 環境の入手)
<a target="_blank" href="https://developer.salesforce.com/ja/">https://developer.salesforce.com/ja/</a>

DreamHouse JP (サンプルアプリケーションパッケージ)
<a target="_blank" href="http://www.dreamhouseappjp.io/">http://www.dreamhouseappjp.io/</a>

Heroku
<a target="_blank" href="https://www.heroku.com/">https://www.heroku.com/</a>

DreamHouse JP (Heroku アプリケーション)
<a target="_blank" href="https://github.com/dreamhouseapp-jp/dreamhousejp-web-app">https://github.com/dreamhouseapp-jp/dreamhousejp-web-app</a>

Heroku Documentations (Devcenter)
<a target="_blank" href="https://devcenter.heroku.com/">https://devcenter.heroku.com/</a>

Git パッケージ (Mac)
<a target="_blank" href="https://git-scm.com/download/mac">https://git-scm.com/download/mac</a>

Heroku Toolbelt
<a target="_blank" href="https://devcenter.heroku.com/articles/heroku-command-line">https://devcenter.heroku.com/articles/heroku-command-line</a>
