<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8" />
  <title>JSON to Table</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="title">json to table</h1>
          </div>
          <div class="column is-small has-text-right">
            build <%= VERSION %>
          </div>
        </div>
      </div>

      <div class="container">
        <form action="/" method="post">
          <label class="label">JSON</label>
          <p class="control">
            <textarea name="json" class="textarea" placeholder="Please input or paste your json data, and click Submit button."></textarea>
          </p>
          <p class="control">
            <input type="submit" class="button is-primary" />
            <input type="reset" class="button is-link" />
          </p>
        </form>

        <%= yield %>

      </div>
    </div>
  </section>

</body>
</html>
