<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8" />
  <title>JSON to Table</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="title">json to table</h1>
          </div>
          <div class="column is-small has-text-right">
            version <%= VERSION %>
          </div>
        </div>
      </div>

      <div class="container">
        <form action="/" method="post">
          <label class="label">JSON</label>
          <p class="control">
            <textarea name="json" class="textarea" placeholder="json data"></textarea>
          </p>
          <p class="control">
            <input type="submit" class="button is-primary" />
            <input type="reset" class="button is-link" />
          </p>
        </form>

        <%= yield %>

      </div>
    </div>
  </section>

</body>
</html>
